/**
 * Styles globaux à utiliser si nécessaire sur plusieurs pages
 */

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 150ms;
}
.button.button-danger {
    background-color: red;
    border: thin solid red;
    color: white;
}
.button.button-danger:hover {
    background-color: rgba(255, 0, 0, 0.5);
    border: thin solid rgba(255, 0, 0, 0.5);
}
.button.button-success {
    background-color: green;
    border: thin solid darkgreen;
    color: white;
}
.button.button-success:hover {
    background-color: lightgreen;
    border: thin solid lightgreen;
}
.button.button-info {
    background-color: rgb(0, 132, 255);
    border: thin solid rgb(0, 132, 255);
    color: white;
}
.button.button-info:hover {
    background-color: rgb(102, 181, 255);
    border: thin solid rgb(102, 181, 255);
}

/* Fin des styles globaux */

/* font-family du site */


@font-face {
    font-family: 'Rubik-regular';
    src: url(../res/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Kaushan-regular';
    src: url(../res/fonts/KaushanScript-Regular.otf);
}

* {
    font-family: 'Rubik-regular';
}

/* header à utiliser sur toutes les pages */

header nav {
    display: flex;
    align-items: center;
}


#top-section-header-and-title > header {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 7px;
    border: 1px solid black;
    background-color: blanchedalmond;
}


#top-section-header-and-title > header > img {
    width: 120px;
}

#top-section-header-and-title > header > nav > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#top-section-header-and-title nav > ul > li {
    padding: 15px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gainsboro;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}


/* contenu page accueil Help Yourself */

#middle-section-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
}

#middle-section-home  h1 {
    height: 180px;
    width: 180px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 50px ;
    border-radius: 360px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    -ms-border-radius: 360px;
    -o-border-radius: 360px;
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

/*********** Page adminAccueil ********/

#section-admin-accueil , #top-section-header-and-title ,a {
    text-decoration: none;
    
}
#section-admin-accueil {
    display: flex;
    justify-content: center;
}
.title-admin-accueil  {
    text-align: center;
    
}
#section-admin-accueil > div {
    border: 2px skyblue solid;
    display: inline-flex;
    width: 200px;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    text-align: center;
   
}

/*********** Page ajouterCours ********/


.title-ajouter-cours h1 {
    text-align: center;
}
.champs-ajout-cours {
    display: flex;
    justify-content: center;
}
.champs-ajout-cours input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;
    
}

#select-ajout-cours > select{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;   
}
#select-ajout-cours {
    display: flex;
    justify-content: center;
}
#calandar-ajout-cours {
    display: flex;
    justify-content: center;
    
}
.date-debut , .date-fin {
    margin: 10px 20px 0;
    
}
.date-debut > label {
    font-size: large;
}
.date-debut > input {
    padding: 10px;
    font-size: medium;
}
.date-fin > label {
    font-size: large;
}
.date-fin > input {
    padding: 10px;
    font-size: medium;
}

/*********** Page ajouterUtilisateur ********/

.title-ajout-utilisateur {
    text-align: center;
}
#select-ajout-utilisateur > select{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;   
}
#select-ajout-utilisateur {
    display: flex;
    justify-content: center;
}
#ajout-user-labelInput {
    display: flex;
    justify-content: center;
    
    
}
#ajout-user-labelInput > input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;
}
#ajout-user-labelInput > label {
    padding-top: 20px;
    font-size: medium;
}

#section-users-ajouter {
    
    flex-direction: column;
    width: 500px;
    align-items: center;
    
  
}
#section-users-ajouter > label {
    font-size: large;
}
#section-users-ajouter > input {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;
    display: flex;
    justify-content: center;
}

.ajout-user-btn > button {
    padding: 15px 30px;
    border-radius: 5px;
    font-size: large;
    background-color: blue;
    color: white;
    
}

/*  contenu page d'accueil étudiants  */

#middle-section-home-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-home-students > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 400px;
}

.icon-user {
    font-size: 20px;
    color: skyblue;
    padding-right: 500px;
}

#middle-section-home-students  h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#middle-section-home-students button {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 300px;
    margin-top: -220px;
}


/* contenu page accueil formateurs */

#middle-section-home-teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-home-teachers > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 300px;
}

.icon-user {
    font-size: 20px;
    color: skyblue;
    padding-right: 500px;
}

#middle-section-home-teachers  h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#middle-section-home-teachers > #button-home-teachers {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
    margin-top: -100px;
    
}


#middle-section-home-teachers > #button-home-teachers-two {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
    margin-top: -200px;
    font-size: 17px;
}

/*********** Page créer une classe ********/

.title-creer-classe {
    text-align: center;
}
.nom-cree-classe {
    display: flex;
    justify-content: center;
}
.nom-cree-classe label {
    font-size: medium;
    padding-top: 10px;
}
.nom-cree-classe input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;
}
.ajout-etudiant-cree-classe {
    display: flex;
    justify-content: center;
}
.ajout-etudiant-cree-classe input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;
}
.ajout-etudiant-cree-classe label {
    padding-top: 20px;
    font-size: medium;
}
.ajout-etudiant-cree-classe button {
    padding: 15px 30px;
    border-radius: 5px;
    font-size: large;
    background-color: green;
    color: white;
}
#section-ajoutEtudiants-creer-classe {
    padding-top: 50px;
}
#section-ajoutEtudiants-creer-classe > ul > li {
    width: 500px;
    margin: 10px;
}

.creer-classe-btn button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: large;
    background-color: blue;
    color: white;
}






