/* font-family du site */


@font-face {
    font-family: 'Rubik-regular';
    src: url(../res/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Kaushan-regular';
    src: url(../res/fonts/KaushanScript-Regular.otf);
}

* {
    font-family: 'Rubik-regular';
}


/* header à utiliser sur toutes les pages */

header nav {
    display: flex;
    align-items: center;
}


#top-section-header-and-title > header {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 7px;
    border: 1px solid black;
    background-color: blanchedalmond;
}


#top-section-header-and-title > header > img {
    width: 120px;
}

#top-section-header-and-title > header > nav > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#top-section-header-and-title nav > ul > li {
    padding: 15px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gainsboro;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

#top-section-header-and-title nav > ul > li > a {
    color: black;
    
}


/* contenu page accueil Help Yourself */

#middle-section-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
}

#middle-section-home  h1 {
    height: 180px;
    width: 180px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 50px ;
    border-radius: 360px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    -ms-border-radius: 360px;
    -o-border-radius: 360px;
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

/*********** Page adminAccueil ********/

#section-admin-accueil , #top-section-header-and-title ,a {
    text-decoration: none;
    
}
#section-admin-accueil {
    display: flex;
    justify-content: center;
}
.title-admin-accueil  {
    text-align: center;
    
}
#section-admin-accueil > div {
    border: 2px skyblue solid;
    display: inline-flex;
    width: 200px;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    text-align: center;
   
}

/*********** Page ajouterCours ********/


.title-ajouter-cours h1 {
    text-align: center;
}
.champs-ajout-cours {
    display: flex;
    justify-content: center;
}
.champs-ajout-cours input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;
    
}

#select-ajout-cours > select{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;   
}
#select-ajout-cours {
    display: flex;
    justify-content: center;
}
#calandar-ajout-cours {
    display: flex;
    justify-content: center;
    
}
.date-debut , .date-fin {
    margin: 10px 20px 0;
    
}
.date-debut > label {
    font-size: large;
}
.date-debut > input {
    padding: 10px;
    font-size: medium;
}
.date-fin > label {
    font-size: large;
}
.date-fin > input {
    padding: 10px;
    font-size: medium;
}
#calandar-ajout-cours button {
    padding: 20px;
    border-radius: 5px;
    font-size: medium;
}

/*********** Page ajouterUtilisateur ********/

.title-ajout-utilisateur {
    text-align: center;
}
#select-ajout-utilisateur > select{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;   
}
#select-ajout-utilisateur {
    display: flex;
    justify-content: center;
}
#ajout-user-labelInput {
    display: flex;
    justify-content: center;
    
}
#ajout-user-labelInput > input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;
}
#ajout-user-labelInput > label {
    margin-bottom: - 10px;
    font-size: medium;
}
#ajout-user-labelInput > button {
    padding: 20px;
    border-radius: 5px;
    font-size: medium;
    background-color: green;
    color: white;
}
#section-users-ajouter {
    
    flex-direction: column;
    width: 500px;
    
  
}
#section-users-ajouter > label {
    font-size: large;
}
#section-users-ajouter > input {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(248, 246, 246);
    font-size: medium;
    display: flex;
    justify-content: center;
}
#section-users-ajouter > button {
    width: 100px;
    padding: 10px;
    
    
    background-color: red;
    color: white;
    font-size: medium;
    
}
.ajout-user-btn > button {
    padding: 15px 30px;
    border-radius: 5px;
    font-size: large;
    background-color: blue;
    color: white;
    

}
/*  .......  */

/*  contenu page d'accueil étudiants  */

#middle-section-home-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-home-students > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-top: -100px;
    margin-bottom: 400px;
}

.icon-user {
    font-size: 20px;
    color: skyblue;
    padding-right: 500px;
}

#middle-section-home-students  h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#middle-section-home-students button {
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 300px;
    margin-top: -250px;
}

#middle-section-home-students button a {
    color: whitesmoke;
}


/* contenu page accueil formateurs */

#middle-section-home-teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-home-teachers > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 300px;
    margin-top: -200px;
}

.icon-user {
    font-size: 20px;
    color: skyblue;
    padding-right: 500px;
}

#middle-section-home-teachers  h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#button-home-teachers {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
    margin-top: -100px;  
}


#button-home-teachers-two {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
    margin-top: -200px;
    font-size: 17px;
}

#button-home-teachers a {
    color: whitesmoke;
}

#button-home-teachers-two a {
    color: whitesmoke;
} 


/* contenu de la page de connexion du formateur */


#middle-section-connection-teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-connection-teachers > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 200px;
    margin-top: -50px;
}

#middle-section-connection-teachers h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}


#form-teachers {
    margin-top: -150px;
    margin-bottom: 80px;
}

#form-teachers p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 1px solid black;
    background-color: cadetblue;
    margin: 20px;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#form-teachers p input {
    width: 320px;
    height: 25px;
    
}


#button-connection-teachers {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
     
}

/* contenu de la page de connexion de l'étudiant */

#middle-section-connection-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-connection-students > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 200px;
    margin-top: -50px;
}

#middle-section-connection-students h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}


#form-students {
    margin-top: -150px;
    margin-bottom: 80px;
}

#form-students p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 1px solid black;
    background-color: cadetblue;
    margin: 20px;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#form-students p input {
    width: 320px;
    height: 25px;
    
}


#button-connection-students {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
     
}


/* contenu de la page d'inscription de l'étudiant */


#middle-section-registration-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-registration-students > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 200px;
    margin-top: -15px;
}

#middle-section-registration-students h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}


#form-students-registration {
    margin-top: -200px;
    margin-bottom: 10px;
}

#form-students-registration p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 1px solid black;
    background-color: cadetblue;
    margin: 20px;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#form-students-registration p input {
    width: 320px;
    height: 25px;
    
}


#button-registration-students {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
     
}

