/**
 * Styles globaux à utiliser si nécessaire sur plusieurs pages
 */

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 150ms;
}
.button.button-danger {
    background-color: red;
    border: thin solid red;
    color: white;
}
.button.button-danger:hover {
    background-color: rgba(255, 0, 0, 0.5);
    border: thin solid rgba(255, 0, 0, 0.5);
}
.button.button-success {
    background-color: green;
    border: thin solid darkgreen;
    color: white;
}
.button.button-success:hover {
    background-color: lightgreen;
    border: thin solid lightgreen;
}
.button.button-info {
    background-color: rgb(0, 132, 255);
    border: thin solid rgb(0, 132, 255);
    color: white;
}
.button.button-info:hover {
    background-color: rgb(102, 181, 255);
    border: thin solid rgb(102, 181, 255);
}

/* Fin des styles globaux */



/* Font-family du site */

@font-face {
    font-family: 'Rubik-regular';
    src: url(../res/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Kaushan-regular';
    src: url(../res/fonts/KaushanScript-Regular.otf);
}

* {
    font-family: 'Rubik-regular';
}

/* Fin font-family du site */



/* Header à utiliser sur toutes les pages */

header nav {
    display: flex;
    align-items: center;
}


#top-section-header-and-title > header {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 7px;
    border: 1px solid black;
    background-color: blanchedalmond;
}


#top-section-header-and-title > header > img {
    width: 120px;
}

#top-section-header-and-title > header > nav > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#top-section-header-and-title button {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gainsboro;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    cursor: pointer;
}

#top-section-header-and-title button a {
    padding: 8px;
    font-size: 15px;
    color: white;
}

#top-section-header-and-title button:hover {
    background-color: skyblue;
    border: 1px solid whitesmoke;
}

.fa-chalkboard-teacher {
    font-size: 15px;
}

.fa-address-card {
    font-size: 15px;
}

/* Fin header à utiliser sur toutes les pages */


/*********** Page adminAccueil ********/

#container-admin-accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;

}

#container-admin-accueil > .msg-admin-accueil {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 200px;
    margin-top: -15px;
}

#container-admin-accueil h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#section-admin-accueil , #top-section-header-and-title ,a {
    text-decoration: none;
    
}
#section-admin-accueil {
    display: flex;
    justify-content: center;
}
.title-admin-accueil  {
    text-align: center;
    
}
#section-admin-accueil > div {
    border: 2px skyblue solid;
    display: inline-flex;
    width: 200px;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
   
}

/* Page ajouter un cours */

#container-ajout-cours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
}

#container-ajout-cours > .msg-ajout-cours {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 200px;
    margin-top: -15px;
}

#container-ajout-cours h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}
.formulaire-ajout-cours {
    margin-top: -250px;
}
#form-ajout-cours {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    margin-top: 150px;

}
#form-calendrier-ajout-cours {
    margin-top: 50px;
    align-items: center;
    margin-left: -50px;
}

.button-success {
    margin-top: 50px;
    padding: 5px;
}


/* Page ajouter un utilisateur */

.container-ajout-utilisateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
    border: 1px solid black;
    background-color: blanchedalmond;
    

}
.msg-ajout-utilisateur {
    margin-top: 50px;
}
#select-ajout-utilisateur select {
    margin-top: 50px;
    padding: 20px 30px;
    font-size: medium;
}

.container-ajout-utilisateur > .msg-ajout-utilisateur {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 1,nn0px;
    
}

.container-ajout-utilisateur h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#form-ajout-utilisateur input {
    padding: 10px;
    
}
#section-users-ajouter-utilisateur {
    margin-top: 20px;
}
#section-users-ajouter-utilisateur label {
    font-size: large;
    margin-left: -50px;
    
}
#section-users-ajouter-utilisateur > ul > li {
    padding: 5px;
}
.ajout-user-btn {
    margin-top: 20px;
}


/* Page créer une classe */

.container-creer-classe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
    border: 1px solid black;
    background-color: blanchedalmond;
    
}
.msg-creer-classe {
    margin-top: 50px;
}
.container-creer-classe > .msg-creer-classe {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 1,nn0px;
    
}
.container-creer-classe h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}
.container-creer-classe label {
    font-size: larger;
}
.nom-cree-classe {
    margin-bottom: -40px;
}
#form-creeClasse {
    margin-top: 40px;
}
#form-creeClasse input {
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: small;  
}
.button-info {
    margin-top: 20px;
}
#section-ajoutEtudiants-creer-classe {
    margin-top: 40px;
}
#section-ajoutEtudiants-creer-classe label {
    margin-left: -60px;
}
#section-ajoutEtudiants-creer-classe > ul > li {
    padding: 5px;
}

/* Page liste des cours */

.container-liste-des-cours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
    border: 1px solid black;
    background-color: blanchedalmond;
    
}
.msg-liste-des-cours {
    margin-top: 50px;
}
.container-liste-des-cours > .msg-liste-des-cours {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 1,nn0px;
    
}
.container-liste-des-cours h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}
.container-liste-des-cours label {
    font-size: larger;
    margin-top: 20px;
}
#form-liste-des-cours {
    margin-top: 40px;
}
#form-liste-des-cours select {
    width: 200px;
    padding: 5px;
    text-align: center;
    font-size: small;
    
}
#form-liste-des-cours input {
    width: 200px;
    padding: 5px;
    text-align: center;
    font-size: small;
    
}
#section-liste-des-cours {
    margin-top: 40px;
}
#section-liste-des-cours label {
    margin-left: -40px;
    
}

/* Page liste des classes */

.container-liste-des-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    
}
.msg-liste-des-classes {
    margin-top: 50px;
}
.container-liste-des-classes > .msg-liste-des-classes {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 1,nn0px;
    
}
.container-liste-des-classes h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}
.container-liste-des-classes label {
    font-size: larger;
    margin-top: 20px;
}
#recherche-liste-des-classes input {
    width: 200px;
    padding: 5px;
    text-align: center;
    font-size: small;
}
#section-liste-des-classes {
    margin-top: 40px;
}
#section-liste-des-classes label {
    margin-left: -40px;
    
}


/* Page modifier une classe */

.container-modifier-classe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
    border: 1px solid black;
    background-color: blanchedalmond;
    
}
.msg-modifier-classe {
    margin-top: 50px;
}
.container-modifier-classe > .msg-modifier-classe {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 1,nn0px;
    
}
.container-modifier-classe h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}
.container-modifier-classe label {
    font-size: larger;
}
.nom-modifier-classe {
    margin-bottom: -40px;
}
#form-modifier-classe {
    margin-top: 40px;
}
#form-modifier-classe input {
    width: 200px;
    padding: 10px;
    text-align: center;  
}
#section-ajout-etudiants-modifier-classe {
    margin-top: 40px;
}
#section-ajout-etudiants-modifier-classe label {
    margin-left: -60px;
}
#section-ajout-etudiants-modifier-classe > ul > li {
    padding: 5px;
}
.button-danger {
    margin-left: 20px;
}
.button-info {
    margin-top: 20px;
}


/* Page modifier un cours */

.container-modifier-cours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
    border: 1px solid black;
    background-color: blanchedalmond;
    
}
.msg-modifier-cours {
    margin-top: 50px;
}
.container-modifier-cours > .msg-modifier-cours {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 1,nn0px;
    
}
.container-modifier-cours h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}
.container-modifier-cours label {
    font-size: larger;
}
.nom-modifier-cours {
    margin-bottom: -40px;
}
#form-modifier-cours select {
    width: 200px;
    text-align: center;
    padding: 10px;
}
#form-modifier-cours input {
    width: 200px;
    text-align: center;
    padding: 10px;
}


/* Page modifier un utilisateur */

.container-modifier-utilisateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
    border: 1px solid black;
    background-color: blanchedalmond;
    
}
.msg-modifier-utilisateur {
    margin-top: 50px;
}
.container-modifier-utilisateur > .msg-modifier-utilisateur {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 1,nn0px;
    
}
.container-modifier-utilisateur h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}
.container-modifier-utilisateur label {
    font-size: larger;
}
#form-modifier-utilisateur {
    margin-top: 30px;
}
#form-modifier-utilisateur select {
    width: 200px;
    text-align: center;
    padding: 10px;
    font-size: medium;
}
#form-modifier-utilisateur input {
    width: 200px;
    text-align: center;
    padding: 10px;
    font-size: medium;
}
#section-modifier-utilisateur {
    margin-top: 60px;
}
#section-modifier-utilisateur label {
    margin-left: -60px;
}


/* Page utilisateurs */

.container-utilisateurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
    border: 1px solid black;
    background-color: blanchedalmond;
    
}
.msg-utilisateurs {
    margin-top: 50px;
}
.container-utilisateurs > .msg-utilisateurs {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 1,nn0px;
    
}
.container-utilisateurs h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}
.container-utilisateurs label {
    font-size: larger;
}
#form-utilisateurs {
    margin-top: 60px;
}
#form-utilisateurs select {
    width: 200px;
    text-align: center;
    padding: 10px;
    font-size: medium;
}
#form-utilisateurs input {
    width: 200px;
    text-align: center;
    padding: 10px;
    font-size: medium;
}
#section-liste-utilisateurs {
    margin-top: 40px;
}
#section-liste-utilisateurs label {
    margin-left: -60px;
}
.button-info {
    margin-left: 30px;
}

/***** fin de la page utilisateurs ******/


/* Contenu page d'ACCUEIL Help Yourself */

#middle-section-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
}

#middle-section-home  h1 {
    height: 180px;
    width: 180px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 50px ;
    border-radius: 360px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    -ms-border-radius: 360px;
    -o-border-radius: 360px;
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

/* Fin du contenu de la page d'accueil Help Yourself */



/* Contenu de la page d'INSCRIPTION */

#middle-section-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-registration > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 200px;
    margin-top: -15px;
}

#middle-section-registration h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#form-registration {
    margin-top: -200px;
    width: 550px;
    margin-bottom: 10px;
}

#form-registration p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 1px solid black;
    background-color: cadetblue;
    margin: 20px;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#form-registration p select {
    margin: 5px;
    width: 320px;
    height: 25px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    color: whitesmoke;
    align-items: center;
    
}

#form-registration p input {
    width: 320px;
    height: 25px;
    
}

#form-registration div {
    display: flex;
    justify-content: center;
}

#button-registration a {
    color: whitesmoke;
}

#button-registration {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 17px;
    width: 250px;
    margin-bottom: -40px;
    margin-top: 20px;   
}

/* Fin du contenu de la page d'inscription */




/* Contenu de la page de CONNEXION */

#middle-section-connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-connection > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 200px;
    margin-top: -50px;
}

#middle-section-connection h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}


#form-connection {
    margin-top: -150px;
    margin-bottom: 80px;
}

#form-connection p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border: 1px solid black;
    background-color: cadetblue;
    margin: 20px;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#form-connection p input {
    width: 320px;
    height: 25px;
    
}

#form-connection div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -100px;
}

#button-connection a {
    color: whitesmoke;
}

#button-connection {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 17px;
    width: 250px;   
}

/* Fin du contenu de la page de connexion */





/* Contenu de la page d'ACCUEIL FORMATEURS */

#middle-section-home-teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-home-teachers > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 300px;
    margin-top: -200px;
}

.icon-user {
    font-size: 20px;
    color: skyblue;
    padding-right: 500px;
}

#middle-section-home-teachers  h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#button-home-teachers {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
    margin-top: -100px;  
}


#button-home-teachers-two {
    color: white;
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 350px;
    margin-top: -200px;
    font-size: 17px;
}

#button-home-teachers a {
    color: whitesmoke;
}

#button-home-teachers-two a {
    color: whitesmoke;
} 

/* Fin du contenu de la page d'accueil formateurs */




/*  Contenu de la page d'ACCUEIL ÉTUDIANTS  */

#middle-section-home-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#middle-section-home-students > div {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-top: -100px;
    margin-bottom: 400px;
}

.icon-user {
    font-size: 20px;
    color: skyblue;
    padding-right: 500px;
}

#middle-section-home-students  h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#middle-section-home-students button {
    border: 2px solid white;
    background-color: skyblue;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    padding: 30px 50px;
    cursor: pointer;
    font-size: 17px;
    width: 300px;
    margin-top: -250px;
}

#middle-section-home-students button a {
    color: whitesmoke;
}

/* Fin du contenu de la page d'ACCUEIL ÉTUDIANTS */




/* Contenu de la page LISTE DE MES COURS -> ÉTUDIANT */

#middle-section-studies-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#welcome-message {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 20px;  
}

#welcome-message h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#time-studies-students {
    padding: 2px;
    margin-left: 809px;
    margin-top: -540px;
    background-color: cyan;
    border: 1px solid black;
    width: 145px;
}

.icon-user {
    font-size: 20px;
    color: skyblue;
    padding-right: 500px;
}

#middle-section-studies-students  h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#lessons-student {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: -527px;
}

#lessons-student p {
    background-color: gainsboro;
    width: 100px;
    border: 1px solid black;
}

#lessons-student #hour-begin-end {
    width: 300px;
}

#lessons-student #hour-begin-end p input {
    justify-content: space-around;
}

#lesson-one-student {
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    background-color: white;
    padding-bottom: 100px;
    position: relative;
}

#lesson-one-student p {
    margin: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

#open-class {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    position: absolute;
    margin-top: 90px;
    margin-left: -450px;
    width: 210px;
}

#iampresent {
    position: absolute;
    margin-top: 115px;
    margin-left: -400px;
    border-radius: 5px;
    height: 30px;
    background-color: green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#iampresent a {
    color: white;
}

#justify-an-absence {
    position: absolute;
    margin-top: 160px;
    margin-left: -290px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color: red;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#justify-an-absence a {
    color: black;
}

#report-a-delay {
    position: absolute;
    margin-top: 160px;
    margin-left: -135px;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background-color: goldenrod;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#report-a-delay a{
    color: black;
}

#lesson-two-student {
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    border-top: 1px solid grey;
    background-color: white;
    padding-bottom: 25px;
}

#lesson-two-student p{
    margin: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

#close-one-class{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    position: absolute;
    margin-top: 90px;
    margin-left: -500px;
    width: 330px;
}

#lesson-three-student {
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    border-top: 1px solid grey;
    background-color: white;
    padding-bottom: 25px;
}

#lesson-three-student p{
    margin: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

#close-two-class{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    position: absolute;
    margin-top: 90px;
    margin-left: -450px;
    width: 330px;
}

#hour-begin-end {
    padding: 3px;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#hour-begin-end input{
    display: flex;
    float: right;
    text-align: center;
    justify-content: space-between;
    font-family: 'Kaushan-regular';
}

/* Fin de la page liste de mes cours des étudiants */ 










/* Contenu de la page LISTE DE MES COURS -> FORMATEURS */

#middle-section-studies-teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#welcome-message {
    height: 150px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 5px;
    margin-bottom: 20px;  
}

#time-studies-teachers {
    padding: 2px;
    margin-left: 809px;
    margin-top: -555px;
    background-color: cyan;
    border: 1px solid black;
    width: 145px;
}


.icon-user {
    font-size: 20px;
    color: skyblue;
    padding-right: 500px;
}

#middle-section-studies-students  h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#lessons-teacher {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: -527px;
}

#lessons-teacher p {
    background-color: gainsboro;
    width: 100px;
    border: 1px solid black;
}

#lessons-teacher #hour-begin-end {
    width: 300px;
}

#lessons-teacher #hour-begin-end p input {
    justify-content: space-around;
}

#lesson-one-teacher {
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    background-color: white;
    padding-bottom: 45px;
    position: relative;
}

#lesson-one-teacher p {
    margin: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}


#open-class-teacher {
    position: absolute;
    margin-top: 95px;
    margin-left: -490px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    background-color: green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#open-class-teacher a {
    color: black;
}

#access-courses {
    position: absolute;
    margin-top: 95px;
    margin-left: -335px;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background-color: turquoise;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#access-courses a{
    color: black;
}

#lesson-two-teacher {
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    border-top: 1px solid grey;
    background-color: white;
    padding-bottom: 45px;
    position: relative;
}

#lesson-two-teacher p{
    margin: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

#access-courses-two {
    position: absolute;
    margin-top: -45px;
    margin-left: 360px;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background-color: turquoise;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#access-courses-two a {
    color: black;
}

#no-access-courses-two {
    position: absolute;
    margin-top: -45px;
    margin-left: 145px;
    border-radius: 5px;
    width: 210px;
    height: 30px;
    background-color: gainsboro;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#no-access-courses-two a{
    color: grey;
}

#lesson-three-teacher {
    display: flex;
    justify-content: space-between;
    border: 2px solid grey;
    border-top: 1px solid grey;
    background-color: white;
    padding-bottom: 45px;
}

#lesson-three-teacher p{
    margin: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

#end-courses {
    position: absolute;
    margin-top: -45px;
    margin-left: 360px;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background-color: turquoise;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#end-courses a {
    color:black;
}

#see-the-report {
    position: absolute;
    margin-top: -45px;
    margin-left: 145px;
    border-radius: 5px;
    width: 210px;
    height: 30px;
    background-color: gainsboro;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#see-the-report a {
    color: grey;
}

#hour-begin-end {
    padding: 3px;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#hour-begin-end input{
    display: flex;
    float: right;
    text-align: center;
    justify-content: space-between;
    font-family: 'Kaushan-regular';
}

/* Fin de la page liste de mes cours des formateurs */ 




/* RELEVÉ DE PRÉSENCE */

#middle-section-presence {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    border: 1px solid black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

#time-presence-teachers {
    padding: 2px;
    margin-left: 809px;
    margin-top: -329px;
    background-color: cyan;
    border: 1px solid black;
    width: 145px;
}

#welcome-message-presence {
    height: 130px;
    width: 500px;
    text-align: center;
    border: 2px solid skyblue;
    background-color: green;
    padding: 2px;
    margin-bottom: 20px;  
}

#welcome-message-presence h1 {
    font-family: 'Kaushan-regular';
    color: whitesmoke;
}

#presence-students {
    height: 130px;
    width: 500px;
    text-align: center;
    border: 2px solid black;
    background-color: turquoise;
    padding: 2px;
    margin-bottom: 20px;
}

#presence-students p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: black;
}

#names-report p{
    border: 2px solid black;
    width: 150px;
    background-color: #fff;
}

#name-one-report {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    height: 30px;
    width: 810px;
    text-align: center;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 2px;
}

#name-two-report {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    height: 30px;
    width: 810px;
    text-align: center;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 2px;
}

#name-three-report {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    height: 30px;
    width: 810px;
    text-align: center;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 2px;
}

#name-four-report {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    height: 30px;
    width: 810px;
    text-align: center;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 2px;
}

#name-five-report {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    height: 30px;
    width: 810px;
    text-align: center;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 2px;
}

#name-six-report {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    height: 30px;
    width: 810px;
    text-align: center;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 2px;
    margin-bottom: -500px;
}

#record {
    position: absolute;
    margin-top: 280px;
    margin-left: -95px;
    border: 2px solid whitesmoke;
    border-radius: 9px;
    width: 210px;
    height: 30px;
    background-color: skyblue;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    cursor: pointer;
}

#record a {
    color: whitesmoke;
    font-size: 15px;
}

/* Fin de relevé de présence */
















































































































































































































































































































































































































































